[2013-10-09 21:50] ezequielm opened #1 "Prepare gem for Rails 4"

[2015-03-05 16:21] rolodato opened #6 "Investigate Devise+Omniauth support"
Devise support might be integrated in this gem or in a separate one. Find out which is best.

[2015-03-26 05:51] Maxim-Filimonov commented on #6
Any updates on this one? We are trying to figure out how to make this gem play with devise. No luck so far :\

[2015-04-09 04:32] rolodato opened #7 "Refresh token is not returned in request['omniauth.auth']"
Apparently it's being ignored: https://github.com/auth0/omniauth-auth0/blob/master/lib/omniauth/strategies/auth0.rb#L42-L48

For comparison, this is how it's handled in `omniauth-oauth2`: https://github.com/intridea/omniauth-oauth2/blob/9a2617f65ddf85a31f2aa9325089df2ddbf9d613/lib/omniauth/strategies/oauth2.rb#L41-L46

[2015-04-16 16:02] dkastner commented on #6
I have a basic devise-auth0 integration here https://github.com/faradayio/devise-auth0

[2015-08-06 17:05] ak47 opened #10 "update example README"
Hi there,

your example app, in addition to the example app offered for download have the following line:

<pre>
If you want to build a Ruby On Rails API that will be used with a SPA or a Mobile device, please check this other seed project
</pre>

However, the link provided does not exist.  Is there an api app example?

Otherwise I suggest modifying this line, at least remove the link to avoid con

[2015-09-18 12:55] mitya opened #11 "Version String"
Hey guys, in that file https://github.com/auth0/omniauth-auth0/blob/master/lib/omniauth-auth0/version.rb, you are bumping the version of the Auth0, not the OmniAuth0, thus when both gems are used it generates a warning.

[2015-11-14 14:05] l4u commented on #11
#9

[2015-12-17 18:37] aouji commented on #6
In case anyone is interested, the following worked for me:
in `config/initializers/devise.rb`:
[code]
Then I just added an `auth0` action in an `AuthenticationController` where I get or create user by `request.env['omniauth.auth'].uid`.
For SSO:
[code]
On devise side, login action:
[code]
To make sure SSO session is terminated, in application controller:
[code]

[2016-01-13 04:00] aguerere opened #16 "License file needs an update to current version"
License should have the current approved contents.

[2016-01-14 01:37] silverxmary opened #18 "heroku app not working"
App in heroku is down it gives an error
.We're sorry, but something went wrong.

If you are the application owner check the logs for more information.
![captura de pantalla de 2016-01-13 21 02 51](https://cloud.githubusercontent.com/assets/9697948/12313438/979803b0-ba39-11e5-837d-fba1d99ff980.png)

[2016-01-14 12:11] #16 closed

[2016-01-14 12:27] jfromaniello commented on #18
Can you send us the logs?

[2016-01-14 12:27] jfromaniello commented on #18
does it work locally?

[2016-01-14 14:04] silverxmary opened #19 "Error in optional step route file"
In optinal step:
In case of failure, you may want to get the description of the error. For that, in your "config/production.rb"
![captura de pantalla de 2016-01-13 20 48 09](https://cloud.githubusercontent.com/assets/9697948/12326274/032b1618-baa2-11e5-9783-7df5fd46c110.png)
 add the following:

and the route of the file must be "config/environment/production.rb"

[2016-01-14 14:22] silverxmary commented on #18
yes, it works locally the seed project. it just that link in heroku

[2016-01-14 15:15] silverxmary opened #20 "Custon UI view And code"
https://auth0.com/docs/quickstart/webapp/rails
step 5. Triggering login manually or integrating the Auth0Lock

when I try the Tutorial and I select custon UI view this is how it says in the tutotial it should look
![captura de pantalla de 2016-01-14 10 34 24](https://cloud.githubusercontent.com/assets/9697948/12327948/5cad7808-baab-11e5-9d01-cd7daba89055.png)

Using the code this is how it looks o

[2016-02-09 20:00] Annyv2 opened #21 "Update webapp seed project"
Update it to Rails 4.2.5.1 to use the patch version that fixes the security vulnerabilities previously reviewed

[2016-02-10 18:38] #19 closed

[2016-02-10 18:45] #21 closed

[2016-02-15 15:44] Amialc opened #24 "tzinfo-data Windows"
Sample project on Windows require [this](https://github.com/auth0/omniauth-auth0/blob/master/examples/ruby-on-rails-webapp/Gemfile#L51) gem, which is commented by default. Need to add to `Readme.MD` note like this `If you are using Windows, uncomment tzinfo-data gem in the gemfile`

![screenshot_17](https://cloud.githubusercontent.com/assets/1114365/13053132/77e86776-d40b-11e5-8e0d-9dd59d829a68.pn

[2016-02-15 15:53] Amialc opened #25 "ssl error sample"
After the rails steps, got SSL error. Need to add ssl_fix by default as described [here](https://auth0.com/docs/quickstart/webapp/rails/#troubleshooting-ssl-issues)
![image](https://cloud.githubusercontent.com/assets/1114365/13053405/f7a2e4e0-d40c-11e5-9b4f-5f36421ec7e7.png)

[2016-02-15 15:59] Amialc opened #26 "undefined Auth0Lock"
sample project on dashboard have error about undefined Auth0Lock

![screenshot_18](https://cloud.githubusercontent.com/assets/1114365/13053455/3c6c4ff8-d40d-11e5-938e-dfae015a8535.png)

[2016-02-24 19:14] #24 closed

[2016-03-04 20:10] Annyv2 opened #29 "Missing instruction in readme"
It's missing the instruction `bundle install`

[2016-03-07 15:25] mdesanti commented on #6
@aouji can you give more details on how did you get SSO working? I am getting the following error when auth0 redirects to my page.
`Authentication failure! invalid_credentials: OAuth2::Error, unauthorized_client: Unauthorized federated client due to malformed URL: myClientId` where `myClientId` is actually my Auth0 Client Id.

Also, where did you place this code?
[code]

Thank you!

[2016-03-08 01:37] aouji commented on #6
@mdesanti Not sure. Are you sure the AUTH0_AUTHENTICAITON_URL is set properly? If you open it in a browser do you get to your company's login page in auth0? If so does the redirect_uri look valid?

[2016-03-08 11:04] mdesanti commented on #6
@aouji I found the reason why the URL was invalid. I'm still uncertain about where to place the code to redirect to AUTH0_AUTHENTICAITON_URL. I'm currently handling that with a custom failure

[2016-03-09 18:50] aouji commented on #6
Sorry I missed your second question. I have set up devise routes as follows:
[code]

And the login_page action is as in the comment before and is placed in a controller I have called AuthenticationController.
BTW, one thing I didn't mention is that if you want to use Devise session timeout and make sure the auth0 session is destroyed on devise session timeout, you can do it in a custom failure app

[2016-03-18 19:05] Amialc opened #32 "outdated dependencies in example"
- sass-rails 4.0.5 -> 5.0.4
- coffee-rails 4.0.0 -> 4.1.1
- dotenv 0.11.1 -> 2.1.0

[2016-03-30 19:50] #26 closed

[2016-03-30 19:50] #25 closed

[2016-04-01 14:48] #29 closed

[2016-04-13 21:24] benforeva opened #35 "Support for passwordless sms"
Does this gem support the passwordless sms connection? Everything works fine with the username password connection. However, when I try to force SMS connections through `?connection=sms` I get redirected to `https://login.auth0.com/lo/wsfed` with the error message `Cannot GET /wsfed`.

[2016-05-03 10:30] deepak opened #37 "am not able to setup the OmniAuth strategy"
I am trying to [setup](https://github.com/intridea/omniauth/wiki/Setup-Phase) like so:

[code]

but this does not work because `OmniAuth::Strategies::Auth0::initialize` depends on `args`
and has a check on argument

`fail(ArgumentError.new("Received wrong number of arguments. #{args.inspect}")) if @options[:
namespace].nil?`

but in case of `setup` args will be `[{setup: <Proc>}]` and will not hav

[2016-05-12 11:33] deepak opened #39 "option to log response"
allow to log response easily

eg. if `AUTH_DEBUG` env variable is set
log the response

[2016-06-13 18:00] #37 closed

[2016-11-23 21:29] cassiojp opened #43 "Logout"
Looking to implement a sign out here. Deleting session info doesn't seem to work, any help?

[2016-11-29 05:11] #43 closed

[2017-01-25 20:12] #1 closed

[2017-01-25 20:13] #10 closed

[2017-01-25 20:13] #11 closed

[2017-01-25 20:13] #18 closed

[2017-01-25 20:14] #32 closed

[2017-01-25 20:14] hzalaz commented on #20
Removed the example, docs example is in another repo

[2017-01-25 20:14] #20 closed

[2017-01-25 20:19] hzalaz commented on #39
Since the library relies on https://github.com/intridea/omniauth-oauth2 it will be a bit tricky to log the response. A way to debug it is to log in your backend the contents of `request.env['omniauth.auth']`

[2017-01-25 20:19] #39 closed

[2017-01-25 20:19] #7 closed

[2017-01-25 20:20] hzalaz commented on #35
The hosted login page does not support passwordless out of the box. To make it work with passwordless sms you need to customize it via dashboard and use the lock-passwordless widget

[2017-01-25 20:20] #35 closed

[2017-01-25 20:20] hzalaz opened #46 "Use skip_info to avoid /userinfo call"
Instead of calling /userinfo, decode the id_token (if `openid` was included as the scope)

[2017-02-07 15:27] retorquere opened #47 "/auth/:provider route not registered?"
I'm hitting an issue where omniauth works in dev mode but not in production using passenger. Under passenger, I am redirected correctly by my app to `/auth/auth0` (as I use the auth0 provider) but then get an error from nginx that that url doesn't exist. This is my omniauth config:

[code]

I've ran this to show my routes:

[code]

but that shows only these auth-related routes, even in my developm

[2017-02-16 17:03] ramieblatt opened #48 "badly formed callback request to exchange authorization code for token"
Hi there,

I'm trying to implement omniauth-auth0 as a provider in our rails 4 app. I'm using the Auth0 lock widget in a modal to initiate the login process.

We use devise and omniauth and already successfully implement various providers like google, facebook and linkedin. I used a similar implementation to the one described here: https://github.com/auth0/omniauth-auth0/issues/6

For some reason,

[2017-02-19 22:05] rjocoleman opened #49 "CSRF detected"
Using `omniauth-auth0` v2.0.0 but otherwise following the Rails 5 guides in the [docs](https://auth0.com/docs/quickstart/webapp/rails/00-introduction) leads to a `csrf_detected` error coming out of omniauth.

`provider_ignores_state = true` used to be set in the provider by default. This was removed in v2.0.0. Setting this explicitly avoids the CSRF detected error but it doesn't seem like a good i

[2017-02-22 17:25] ramieblatt commented on #48
Well, as a follow up, I tried following the Rails web app quick-start completely from scratch here:
https://auth0.com/docs/quickstart/webapp/rails

I downloaded and configured a fresh seeded project from here:
https://github.com/auth0-samples/auth0-rubyonrails-sample/tree/master/00-Starter-Seed

I configured a completely new account for this seed, created a user, verified their email etc. and trie

[2017-03-06 23:08] pouellet commented on #49
This might or not applied to you, but we ran in a similar problem using omniauth-auth0 and the devise omniauth integration. In our case, we manually generated the authorize url instead of relying on the omniauth route helper (`user_auth0_omniauth_authorize_path`). Omniauth is taking care of generating a state query parameter, storing it in the session and comparing when the request comes back.

Yo

[2017-03-12 02:53] ahmedissa commented on #48
i have the same issue.

[2017-03-12 03:08] ahmedissa commented on #48
i solved it :) ,, just generate a new token it will resolve the issue.

[2017-03-13 16:26] MattFenelon commented on #49
I'm having the same problem. It seems that the Auth0 Lock dialog is broken with this version of the gem. It works if I do what the README says and just redirect the user to `/auth/auth0`, which uses the hosted Login page.

As far as I can tell, OmniAuth-OAuth2 is expecting the callback URL to include a `state` query-string parameter, but it doesn't. I am still trying to track down why that is. Any

[2017-03-13 18:24] pouellet commented on #49
Auth0 will return the state value if you pass it as a parameter when you send the user to the Auth0 authentication page. For it to work, the authorize request should look something like:

`https://<account>.auth0.com/authorize?auth0Client=<auth0Client>&client_id=<clientId>&redirect_uri=<callback_uri>&response_type=code&state=<uuid>`

`callback_uri => https://<host>/users/auth/auth0/callback`

If y

[2017-03-14 06:53] rjocoleman commented on #49
@pouellet thanks so much, that really did help! I'm now `provider_ignores_state = false` 👍

[2017-03-14 12:31] MattFenelon commented on #49
Thanks @pouellet. That seems to be the same flow as linking the user to `/auth/auth0`? I am trying to use this gem with Auth0's Lock widget.

@rjocoleman mentioned using `provider_ignores_state = false`. I'm still not convinced this is a safe option to use - any malicious site can form a valid request to Auth0 and authenticate a user against the origin site.

That said, I'm not sure if this gem is

[2017-03-14 13:25] rjocoleman commented on #49
@MattFenelon I was using lock.js, but I took it out and started using the hosted login page.

Take a look at both the `authorize_params` (https://github.com/intridea/omniauth-oauth2/blob/master/lib/omniauth/strategies/oauth2.rb#L51-L60 and https://github.com/auth0/omniauth-auth0/blob/master/lib/omniauth/strategies/auth0.rb#L53-L57) methods, make sure it's called and add a param `state` to your loc

[2017-03-17 23:35] hoverlover commented on #49
This is not working for me.  I pass a `state` param to the auth0 authorization URL, but it doesn't pass it back.  The only param I get is `code`.  Is there a setting in my auth0 account that's preventing it from being sent back?

[2017-03-18 01:43] hoverlover commented on #49
OK, I figured this out.  When passing a `state` parameter to the auth0 hosted login page, it gets put in the `extraParams` object after parsing the `@@config@@`.  I simply added an `authParams` object to the lock config, including a `state` key with the value set to `config.extraParams.state`.

Here's the updated script example:

[code]

Maybe someone from the Auth0 team can comment on why the `st

[2017-03-22 04:31] atwoodjw commented on #49
I got CSRF working w/ Lock.

###### session_helper.rb
[code]
###### application.html.erb
[code]

###### session.js.erb
[code]

[2017-03-23 15:44] ClaudioFloreani commented on #49
@atwoodjw can you specify which version of the omniauth gems? (omniauth, omniauth-auth0, omniauth-oauth2)

The problem arise only when switching to omniauth-auth0 version 2.0.0, so at least some upgrading instructions should be provided for customers going to the next major release.

[2017-03-23 15:57] atwoodjw commented on #49
Sure.

omniauth (1.6.1)
omniauth-auth0 (2.0.0)
omniauth-oauth2 (1.4.0)
lock.min.js (10.9.1)

Yes, the issue only arrises in omniauth-auth0 (2.0.0) because `provider_ignores_state = true` is no longer set by default. CSRF protection wasn't enable by default in earlier versions.

[2017-03-27 09:59] ClaudioFloreani commented on #47
It's working for me.
I have these in my config/routes.rb:

[code]

and when I `GET "/auth/auth0/failure"` it is rendered as expected

[code]

What's in your route config?

[2017-03-27 10:03] ClaudioFloreani commented on #48
Why is this issue still open?

[2017-03-27 11:42] retorquere commented on #47
I've converted the app to node in the interim, so I can't replicate the issue anymore, sorry.

[2017-03-27 12:14] jakeNiemiec commented on #48
Ahmad's solution did not solve the original issue.
On Mon, Mar 27, 2017 at 5:03 AM Claudio Floreani <notifications@github.com>
wrote:

[2017-03-27 15:50] ClaudioFloreani commented on #47
I think we can close this issue because nothing in this gem is interfering with Omniauth properly handling `'auth/:provider'`

[2017-05-17 14:28] errfanwadia commented on #49
Above @atwoodjw  worked like a charm.

But I am not able to achieve this for IdP initiated SSO as the IdP first authenticate and the callback URL is called directly from auth0. There is no way that you can store any state param in session as the request is initiated from IdP.  Request to suggest any best practices

[2017-08-31 21:19] vampolo opened #51 "Unable to get access token on login"
Hi, I'm using this ruby gem in conjunction with Auth0 lock widget for authentication.
Gem is configured as

[code]
The `auth0_config` is a hash with the auth0 configuration in my application.
Once i successfully log in, from the rails side i can see the `omniauth.auth` request variable. but this is of the kind of.

![image](https://user-images.githubusercontent.com/294496/29945712-2fbf4804-8e57-11

[2017-10-30 20:05] scooteronce commented on #51
Is this related to the base64 encoding change? Because I am having the same issue with Knock and considering switching gems...

[2018-01-29 19:27] bramski opened #53 "I had to downgrade my gems to use this strategy :-("
After bundle update...
[code]

[2018-03-07 10:36] goncalopereira commented on #53
Same issue, seems that the gem dependencies haven't been updated in a year. this might bring security concerns.

[2018-03-30 18:24] hopewise opened #56 "Could not find a valid mapping for path "/auth/oauth2/callback""
My rails app integrated with Auth0 with no issue, however, when I upgraded `omniauth-auth0` from `1.4.2` to `~> 2.0.0` it forced me to upgrade `omniauth-oauth2` from `1.3.1` to `~> 1.4`

then, after upgrading, I started getting this error after social login with Lock 11:

    Could not find a valid mapping for path "/auth/oauth2/callback"

My code base has not been touched, I only upgraded the gem

[2018-05-06 23:01] dguettler commented on #49
@errfanwadia I ran into similar issue when doing impersonation. Everything happens on the Auth0 side before the callback to omniauth. The only solution I'm aware of so far was to disable the state check

[2018-05-28 15:17] joshRpowell opened #57 "is auth0 no longer supporting?"
@hzalaz ~18mo since last commit.  Is auth0 dropping support?

oauth2 - has new maintainers and v2.0 is on the way soon https://github.com/oauth-xx/oauth2/issues/307#issuecomment-370920888

[2018-06-21 21:20] joshcanhelp commented on #57
@joshRpowell - Apologies for the delay in responding to this. We've been overloaded with requests on other libraries but we have not abandoned this one or the main Ruby SDK. I'm going to be reviewing the issues and PRs for both Ruby libraries in the coming weeks and will make sure we're back in good shape and ready for the OAuth upgrade.

For the record ... this strategy is working fine for me cur

[2018-06-21 21:20] #57 closed

[2018-06-22 18:44] joshcanhelp commented on #47
Tested and confirmed, this route is working fine (though it's configured in a few places, which is what might have caused this issue).

Looks like the first route matches?

![screenshot 2018-06-22 11 43 04](https://user-images.githubusercontent.com/855223/41793620-8664a22e-7611-11e8-9547-eb608d63d7c4.png)

[2018-06-22 18:44] #47 closed

[2018-07-18 09:41] cocojoe commented on #46
@hzalaz You could have wrote the PR 😆
@joshcanhelp Up to you on this one, not a priority though. Would need to ensure it has full id token validation as well.

[2018-07-18 09:41] cocojoe commented on #53
@joshcanhelp lets get those gems upgraded

[2018-07-18 09:42] cocojoe commented on #49
@joshcanhelp Needs sorted.

[2018-07-18 09:53] cocojoe commented on #51
Sorry for the long delay, picking up on this repo now.  We will be going through some updates soon.

[2018-07-18 09:53] cocojoe commented on #53
Sorry for the long delay, picking up on this repo now. We will be going through some updates soon.

[2018-07-18 09:54] cocojoe commented on #49
Sorry for the long delay, picking up on this repo now. We will be going through some updates soon.

[2018-07-18 09:55] cocojoe commented on #48
Sorry for the long delay, picking up on this repo now. We will be going through some updates soon.

[2018-07-18 09:56] cocojoe commented on #48
@joshcanhelp ensure the QS and sample works after updates and lets circle back.

[2018-07-18 15:37] jakeNiemiec commented on #48
Sorry, we have already dropped Auth0 for lack of support :/. Perhaps we will give it another try sometime.

[2018-07-18 19:25] joshcanhelp commented on #48
So, I can confirm that this gem works fine with Lock when configured properly. Here is the controller to grab the values Lock needs:

https://github.com/joshcanhelp/auth0-ruby-basic/blob/master/app/controllers/static_pages_controller.rb#L7

Note the `SessionsHelper::get_state()` method used which generates a `state` value and stores it in the session so OmniAuth can verify it's that same as what's

[2018-07-18 19:38] joshcanhelp commented on #56
Callback path should be `/auth/auth0/callback`. Here's what I have:

[code]

If you're using Lock, make sure you're setting a state explicitly, as [explained here](https://github.com/auth0/omniauth-auth0/issues/48#issuecomment-406046095).

Please re-open if you're still having this issue 👍

[2018-07-18 19:38] #56 closed

[2018-07-18 19:54] joshcanhelp commented on #49
Chiming in here since the fixes are using old versions of our libraries that should be updated. Again, apologies for the long delay in response here.

See [my comment here](https://github.com/auth0/omniauth-auth0/issues/48#issuecomment-406046095) for an example of how to use this library with Lock. Make sure you're using the latest major/minor version of Lock, preferably the latest (11.7.x as of t

[2018-07-18 19:54] #49 closed

[2018-07-18 20:11] joshcanhelp commented on #53
Updated `omniauth-oauth2` in #55, that takes care of `rest-client`. I'm tracking down the rest of those now.

[2018-07-18 21:21] joshcanhelp commented on #51
@vampolo - Apologies again for the long delay here.

The `access_token` there is what's used to get the user profile from the `/userinfo` endpoint (typically). That ID token also contains profile information that you can use once you're verified and decoded it. I'm not sure what else you're looking for to authenticate but that response should be everything you need.

Closing this for now, feel fre

[2018-07-18 21:21] #51 closed

[2018-07-18 21:29] joshcanhelp commented on #46
Adding this to our backlog.

[2018-07-18 21:50] joshcanhelp commented on #53
Looks like the `jwt` one comes from the `oauth2` [gemspec](https://github.com/oauth-xx/oauth2/blob/v1.4.0/oauth2.gemspec#L9), which, in turn, comes from OmniAuth ([gemspec](https://github.com/omniauth/omniauth-oauth2/blob/master/omniauth-oauth2.gemspec#L6)). PR linked on the last comment updates the latter but it's already using the latest Oauth2 version.

`mime-types` is now up-to-date as well. I

[2018-07-18 21:50] #53 closed

[2018-07-18 21:58] joshcanhelp commented on #6
Have not tested this out but there is a [wiki page on getting Devise to work with OmniAuth](https://github.com/plataformatec/devise/wiki/OmniAuth:-Overview). If there is something we're doing to prevent that from working, we're happy to take a look. Going to close this one for now.

[2018-07-18 21:58] #6 closed

[2018-07-24 20:01] joshcanhelp commented on #57
@diogopublio - We just went through the issue queue and merged a few PRs. Is there something specific you're looking for? If so, could you put that through as an issue so we can track it? We need to push out a release for the changes merged, that's on the list to complete ASAP.

I see that an update is coming soon on the `oauth2` lib but I don't think we want to move forward with any changes until

[2018-07-25 15:32] diogopublio commented on #57
Oh great, I'm glad to hear that! I was having second thoughts about using this gem because of the lack of updates, but I'm definitely moving forward with it! Thank you so much for the attention!

[2018-07-25 16:00] joshcanhelp commented on #57
Absolutely. Do please let us know if there's any specific issues or feature requests 👍

[2018-07-25 17:41] batalla3692 opened #58 "Add prompt=none authorization param handler"
In order to handle **SSO authentication**, we must perform silent authentication. To do that, the docs point to add a **prompt=none** to the authorization path.

There is no way to do that dinamically. I can perform silent authentication If I add this to `initializers/auth0.rb`:
[code]
But this will try to perform silent authentication always, and if the user is not logged in then a redirection to

[2018-07-31 07:36] cassiopagnoncelli commented on #48
Same error here. Abruptly stopped working last week, now looks incredibly foggy. Followed the Rails tutorial without success like you guys.

Does anyone has a clue how to get a simple authentication Rails app working?

[2018-07-31 14:25] joshcanhelp commented on #48
@cassiopagnoncelli - Like I mentioned above, I have this working locally by following the quickstart. It sounds like you and others are still having a problem so I'll walk through that again and see if there are any steps missing.

For anyone that's still having this issue, can you post your Ruby and Rails versions used?

[2018-08-01 15:19] batalla3692 commented on #58
I create a pull request #59 to add this functionality.

[2018-08-01 17:29] coros-sanborn commented on #48
Having same problem here. Everything worked fine with the embedded login with Lock 9. Now that I've upgraded to Lock 11, lock will not redirect after authentication; although I've confirmed through the Auth0 dashboard logs and the Lock UI itself that the user was successfully authenticated. I looked at the Rails quickstart, but that example does not show what to do for embedded login pages - it on

[2018-08-01 17:44] cassiopagnoncelli commented on #48
@joshcanhelp Thing is, without changing Auth0 code nor other configuration last deploy here got authentication never to work again on production.

Turns out Auth0 actually sends the code back to the webapp upon providing the credentials, then it yields **Bad Gateway**. Because most production servers, like mine, sit behind a load balancer / reverse proxy so it may need extra attention there.

Woul

[2018-08-01 19:05] joshcanhelp commented on #48
I appreciate all the extra information on this everyone and apologies for the trouble. I wasn't aware that this was such a wide-spread issue.

Troubleshooting this issue and making sure the quickstart is clear is a high priority. If anyone has any additional information, please post that here. Otherwise, expect to hear back in a few days with a fix or request for more information.

Thank you!

[2018-08-01 19:40] jakeNiemiec commented on #48
We had the same setup, did not find a solution.

[2018-08-01 21:08] joshcanhelp commented on #48
@coros-sanborn - Lock on the universal login page does not need to be upgraded or changed in any way. The deprecation relates to embedded Lock, meaning a Lock widget on your site, and pertains to cross-origin authentication. Since the universal login page is on the same domain, there's no deprecation there.

Did the universal login page work? That's the way we recommend setting it up (and the way

[2018-08-01 21:09] joshcanhelp commented on #48
@cassiopagnoncelli  @jakeNiemiec - Do you mean that you're redirecting from `http` to `https`? Are you using an `http` callback URL that redirects? I'm not totally clear what you mean here.

[2018-08-01 22:46] coros-sanborn commented on #48
@joshcanhelp - One other issue with the Universal login.
If I bypass the roles (just for testing). I do see an other problem with the universal login.

When creating an account and logging in for the first time a popup window comes up with the following message: "Hi email@example.com, "XXXX" is requesting access to your "XXX" tenant"

We do not want that window to appear. This will be confusing to

[2018-08-01 23:52] coros-sanborn commented on #48
Thanks for the reply. I guess the biggest issue is that I used to get this information back with embedded Lock 9 without having to create custom claims or use the universal login page.

We used to get the app_metadata back which included the roles:
data[:extra][:raw_info][:app_metadata][:myAppName][:roles]

The universal login (which is v9) should at least work and return the same information as e

[2018-08-02 03:27] joshcanhelp opened #60 "Issue with moving from Lock 9 to Lock 11"
Splitting this off from [#48](https://github.com/auth0/omniauth-auth0/issues/48#issuecomment-409761518) by @coros-sanborn.

data[:extra][:raw_info][:app_metadata][:myAppName][:roles]

Since you want to use Lock and you need to use v11 going forward, I think your best bet in this case is a custom claim for the ID token. Here is the Rules code you're looking for, modified from [here](https://auth0.c

[2018-08-02 03:29] joshcanhelp commented on #48
@coros-sanborn - I'm worried we're getting a number of issues mixed together here. This one was created last year so it's not related to the deprecation. I opened up a [new issue here](https://github.com/auth0/omniauth-auth0/issues/60) so we can work together to figure this out.

@cassiopagnoncelli - You might be getting a similar error (though it doesn't sound like it based on your last comment)

[2018-08-02 14:40] coros-sanborn commented on #60
Thanks you for sticking with me on this.  I'll speak with my manager about using the Universal Login.

With that in mind, everything from here forward will relate to using the universal login.  I do have that very close to working. The confusing part is the claim.  Thank you for providing the code chunk, but I'm not clear where it goes. Does that code go into the hosted page?

``
function (user, c

[2018-08-02 16:59] coros-sanborn commented on #60
Please, I can use some help getting the user.app_metadata which includes the use roles.

Clearly user roles are important and they need to be included.  I realize the standard does not include roles and that's why we're adding them to the idToken or accessToken, but it does not work.

I've added the following rule:
[code]
When I try this rule I get the following:
[code]
If I hard code a value just

[2018-08-02 17:33] joshcanhelp commented on #60
@coros-sanborn - Looking now. Just FYI, urgent support is probably best run through our support group (assuming you're on a paid plan).

Will test a few things out now and respond ASAP.

[2018-08-02 18:10] joshcanhelp commented on #60
@coros-sanborn - I tested this all the way through on my end and it works as expected. Here's what I did:

1. Added the Rule like so:

[code]

No need to add the `app_metadata` to the `accessToken`, the the ID token.

2. Saved the Rule, then clicked **Try This Rule**. In the modal that popped up, I added this to the `User` data:

[code]

... to match the structure on your end.

3. Clicked **Try**

[2018-08-02 22:01] coros-sanborn commented on #60
I found the problem that was causing the app_metadata to be lost.

The documentation says to create a file called auth0.rb under config/initializers and to configure the OmniAuth middleware as shown below:

[code]

Part of the problem appears to be with the "audience" attribute.

If I specify the audience attribute as shown it will return the structure below:
[code]
So it returns the app_metadata

[2018-08-02 22:16] joshcanhelp commented on #60
The `audience` parameter in the authorize URL is what forces you to use the newer authentication endpoints (that's what Lock 11 uses). Those endpoints only support OIDC claims for ID tokens and at the `/userinfo` endpoint, `app_metadata` not being one of those. When you take that parameter off, turn off (or leave off) OIDC compliance in your Application, and have the legacy user profile API turned

[2018-08-02 22:16] #60 closed

[2018-08-02 22:27] coros-sanborn commented on #60
Thank you for all your help.

One last thing I'd like to get clarity on.  The Hosted Pages for the Universal login is using lock 9 are you suggesting that the hosted page should be using lock 11?

[code]

I did try that yesterday and you mentioned that the lock version did not need to be upgraded to lock 11.

I don't mind updating to lock 11, I just need to know what the lock.show parameters are s

[2018-08-02 22:51] joshcanhelp commented on #60
No, not at this time. Like I mentioned before, don't worry about the Lock version there.

I asked about that earlier. Can you explain what you mean by "the page would not redirect"?

I have an example of using Lock that works with the quickstart-built app (just tested):

https://github.com/joshcanhelp/auth0-ruby-basic/blob/master/app/views/static_pages/lock.html.erb

A few notes:

- jQuery needs t

[2018-08-02 23:06] coros-sanborn commented on #60
To clarify - I'm only talking about using the universal login. We are not using the embedded login because of all the issues we've had.

So, everything I'm referring to is for the Hosted Pages - Universal Login with a rails app.

Above I mentioned that the "audience" parameter and the rule were returning different results and caused the initial problem because I added the "audience" attribute to t

[2018-08-02 23:45] coros-sanborn commented on #60
If someone signs up and verifies their email, shouldn't they get redirected back to the app?
At the moment the user can verify but the verification page does not redirect back to the app.

It stays here: https://sanborn.auth0.com/lo/verify_email?ticket=PM4nHQYnKRmP5SWqTphKOqD8ldzJeHQb#

How can I get the user back to the production app once they sign up and verify?
I'm using the Universal Login.

[2018-08-02 23:49] coros-sanborn commented on #60
Same question as above with the password reset. How can I get the user back to the production app once they verify their email or change their password?

[2018-08-03 14:29] coros-sanborn commented on #60
Thanks for the responses. I really do appreciate your help, however it appears that Auth0 does not really care about the problem they have caused their existing customers.

After checking with my team it's clear that we received no notification of these changes. Sure there is a notice on the dashboard, but we don't stare at that on a daily or even monthly basis. We set up Auth0 a while back, it wo

[2018-08-03 16:47] joshcanhelp commented on #60
@coros-sanborn  - I'm sorry to hear this but I understand. If you're open to working with one of our technical support engineers on getting your system running smoothly, please reach out to me directly josh.cunningham@auth0.com.

Please know that we do take your concerns seriously and I've passed your feedback along to the right group here at Auth0. This deprecation was necessary from a security s

[2018-08-05 13:59] mikeycgto opened #61 "How does get_state work?"
In the Rails login tutorial [here](https://auth0.com/docs/quickstart/webapp/rails/01-login), a `SessionHelper` module is defined with a `get_state` method. This module looks like:

[code]

I'm just curious what is responsible for calling this method? Does gem use this method or does another omniauth gem use this method? Just want to follow understand how this code is being used. Thanks!

[2018-08-15 15:54] joshcanhelp commented on #48
We've updated the quickstart based on the feedback here and tested it start to finish a few times. This thread discusses a number of different issues so if you have a specific one we can help with, please open a new thread with reproduction steps and we'll take a look.

[2018-08-15 15:54] #48 closed

[2018-08-15 16:17] jakeNiemiec commented on #48
Myself and 2 other posters here are all reporting that it didn't work on Rails 4.x. Assets are served very differently between the two.

[2018-08-15 21:12] joshcanhelp commented on #61
Hi @mikeycgto ... thanks for the heads-up on that. I think that was an artifact of an older version of that tutorial that never got changed (even in our last revision recently). We don't want to mess around with security features like state validation and it works fine with that method in place. That said, it looks like the strategy we're extending, omniauth/omniauth-oauth2, does state validation

[2018-08-15 21:12] #61 closed

[2018-08-15 22:47] joshcanhelp commented on #48
@jakeNiemiec - One of the posters above had an issue that was not related to the Rails version, rather a legacy authentication API endpoint.

Still, we want this to work on as many platforms as possible and, if needed, provide tutorials/documentation for older, supported versions of languages and frameworks. To that end, I just walked through this quickstart using Ruby 2.5.1 and Rails 4.2.10 and w

[2018-08-27 20:38] #58 closed

[2018-09-03 19:17] #46 closed

[2018-10-16 13:57] pr0crustes opened #64 "URL should be spelled uppercase outside of code"
The README.md file spells URL as "url". Since URL stands for Uniform Resource Locator, it should be always uppercase, unless its a variable name.

[2018-10-16 14:02] pr0crustes commented on #64
Fixed in submitted PR #65

[2018-10-18 18:57] joshcanhelp commented on #64
Thank you @pr0crustes!

[2018-10-18 18:57] #64 closed

[2018-12-18 19:17] khrome-cape opened #70 "Valid Login, No Details: email=nil image=nil name="github|38257089" nickname=nil"
Missing Login Info

### Description

I'm currently integrating omniauth SSO to an existing Devise based application. (Devise + omniauth + omniauth-auth0). After a little experimentation I was able to get auth working, but don't receive any of the metadata I would expect... instead I get:

[code]

in the `info` hash. Is there a quick fix/known behavior for this issue?

### Prerequisites

I checked

[2018-12-19 20:38] joshcanhelp commented on #70
@khrome-cape - Sorry for the trouble here. We have not tested with Devise at all so can't guarantee that this configuration will work. That said, we're happy to make any changes needed to make that possible.

In the meantime ... your logs look fine, that's what they look like on my end with a successful authentication. You configuration generally looks fine, I don't think either of the additional

[2019-01-10 19:06] khrome-cape commented on #70
Hey there thanks for the reply I've been away for the holidays and a cross country move. I picked it back up with fresh eyes this week but have not been having much progress. You are right about Devise putting them somewhere else (in my case `request.env['omniauth.auth']`, but that's where I originally got the nil values from, not where populated values are sitting). I'll report back after further

[2019-01-15 18:07] khrome-cape commented on #70
So I was able to get much closer to a working solution (a mixture of timing, scope changes and payload placement), but am still not receiving the email field (using the same scope & application credentials I *do* get this in node.js). Any ideas as to what could be going wrong?

[2019-01-15 23:56] joshcanhelp commented on #70
Glad to hear!

In `authorize_params.scope` you'll need to include `email` in there as well. The scope is the scope, it does not make a difference what language/platform you're using to request it.

Also ... `read:users` is not necessary there, that's not an [OIDC scope](https://auth0.com/docs/scopes/current/oidc-scopes).

[2019-01-16 18:03] khrome-cape commented on #70
Awesome!

Not a dealbreaker, but it's curious I'm getting email without explicitly requesting it in node.js/passport. `read:users` came from one of the "use at your own risk" Devise + Omniauth + Auth0 solutions floating around on the web.

The long and short is the 3 libraries do work together, but configuration/setup is tricky. I'll be producing documentation internally for this purpose... at som

[2019-01-16 18:36] joshcanhelp commented on #70
One of the tenants of OpenID is you don't get back any profile data that you didn't explicitly ask for. It might be added later on in the process somewhere? Or maybe you asked for `profile` and the email address comes back as the `name`? The `profile` scope sends back this:

[code]

If you're able to provide the configuration information for using this library with Devise, we'd greatly appreciate

[2019-01-16 18:36] #70 closed

[2019-02-11 17:51] leakira opened #71 "It supports custom domain?"
Using custom domain with this gem

### Description

I'm tring to implement custom domain, but I receive only "You should not be hitting this endpoint. Make sure to use the code snippets shown in the tutorial or contact support@auth0.com for help" error alert.

Thank you

### Environment

Please provide the following:

* OmniAuth-Auth0 version: 2.0.0
* Ruby version: 2.4.1
* Rails version: 5.1.2
* B

[2019-02-11 18:54] joshcanhelp commented on #71
@leakira - It's possible that it doesn't support that currently, but it should. Let me take a look here in the next day or so and see if we can easily add that support.

[2019-02-15 16:13] joshcanhelp commented on #71
@leakira - I tagged this issue in the PR above as I thought it would address your issue here but it looks like it's unrelated.

When you get "You should not be hitting this endpoint," what endpoint are you hitting? If you login using a custom domain as your authorize endpoint, then the token and userinfo endpoint should work fine as well. Using an `audience` for API access shouldn't change anythin

[2019-02-15 18:02] leakira commented on #71
Hi @joshcanhelp
I found the problem, it's in my end. It's solved and working now.
Thanks for your support.

[2019-02-15 18:02] #71 closed

[2019-02-15 18:24] joshcanhelp commented on #71
Happy to help! Was it what I said above or something else? It would be helpful to have your solution in case someone else runs into the same problem.

[2019-02-15 20:29] leakira commented on #71
The problem had in hosted page, missing to change Universal Login's Auth0Lock settings to work with custom domain.
Innitially I had think that these settings need to do on initializer, but after searching more in Auth0 dashboard, I found this page and chaged it, solving the problem.

[2019-07-18 16:58] joshcanhelp opened #82 "High Risk Vulnerability in Parent OmniAuth Library"
We are aware of a vulnerability in the parent OmniAuth library that this strategy relies on. This was reported over 4 years ago in [this PR](https://github.com/omniauth/omniauth/pull/809) but no fix has been released yet. It just recently came to our attention (and others) when our dependency scanner started pinging us about [CVE-2015-9284](https://www.openwall.com/lists/oss-security/2015/05/26/11

[2019-07-20 17:36] nileshtrivedi opened #83 "Redirect URI mismatch error with Github login (with Auth0's dev keys)"
### Description

I'm using Auth0's dev keys in development mode while running the app locally. I have configured both of the following URLs as callback URLs in the application settings:
[code]
This seems to be exactly the same issue as what was reported here: https://community.auth0.com/t/redirecturl-mismatch-using-webauth/21332

An example error tracking id: `ec12ffe36ad815bec615`

### Prerequisi

[2019-07-20 17:45] nileshtrivedi opened #84 "Returned Twitter nickname is not same as user's actual Twitter handle"
### Description
I found a thread in forum about the same issue with no resolution: https://community.auth0.com/t/twitter-nickname-is-not-the-same-as-screen-name/17297

Unlike every other social login provider, Twitter strategy returns `request.env['omniauth.auth']['info']['nickname']` value which is NOT the user's Twitter handle.

The workaround of adding this rule in Auth0 dashboard does work:

[

[2019-07-22 11:11] albertoperdomo commented on #84
Hello @nileshtrivedi,

thanks for taking the time to report issues. The issue you are experiencing is not a specific issue with omniauth-auth0, but an issue with the Twitter connection itself. We are aware of this issue and have an item in our backlog to address this.

In the meantime, the workaround of using that rule should still be valid, AFAIK.
Closing this issue as it can not be addressed in

[2019-07-22 11:11] #84 closed

[2019-07-22 12:14] albertoperdomo commented on #83
Hello @nileshtrivedi,

can you pleas send a detailed description of the unexpected behavior and actual steps to reproduce?
A quick test signing with Github using Auth0's dev keys worked without issues.

[2019-07-22 15:55] jkhulme commented on #82
Hi @joshcanhelp thanks for the update.  Its been frustrating seeing the slow progress in omniauth

We only have rails apps using auth0, so switching to omniauth-rails wouldn't be a problem for us.  But I think it would be good if we could get a fix for everyone.

For mitigiations - "POST to the auth URL so a CSRF token can be used and direct links could not start the auth process" is that posting

[2019-07-22 16:44] forrestblount commented on #82
I would vote for the rails based option as a supported branch of this library at minimum while we wait for the long term fix in omniauth.

[2019-07-22 17:08] eshnil commented on #83
@albertoperdomo

- I start the Rails app on localhost:3000
- Visiting `/auth/auth0` takes me to `https://learnawesomedev.eu.auth0.com/login?state=g6Fo2SBVUmc3bG4tRUpkakN2Y1czTE5PUzdHVm9nLXZqeUhjS6N0aWTZIGZheGE1Tkg1SFV4WFRRWHhqbXJTVmdhX2xhTE8zTFdRo2NpZNkgQkdCWTBjNHlFMUMwM1diWU5rcVhFYkFXRGxOMEZWT1k&client=BGBY0c4yE1C03WbYNkqXEbAWDlN0FVOY&protocol=oauth2&connection=&prompt=&redirect_uri=http%3A%2F%2F

[2019-07-22 17:18] nileshtrivedi commented on #83
@albertoperdomo

- I start the Rails app on localhost:3000
- Visiting `/auth/auth0` takes me to `https://learnawesomedev.eu.auth0.com/login?state=g6Fo2SBVUmc3bG4tRUpkakN2Y1czTE5PUzdHVm9nLXZqeUhjS6N0aWTZIGZheGE1Tkg1SFV4WFRRWHhqbXJTVmdhX2xhTE8zTFdRo2NpZNkgQkdCWTBjNHlFMUMwM1diWU5rcVhFYkFXRGxOMEZWT1k&client=BGBY0c4yE1C03WbYNkqXEbAWDlN0FVOY&protocol=oauth2&connection=&prompt=&redirect_uri=http%3A%2F%2F

[2019-07-22 17:19] nileshtrivedi commented on #83
@albertoperdomo There was this comment on Discourse forum which might be a pointer to the root cause: https://community.auth0.com/t/redirecturl-mismatch-using-webauth/21332/2

[2019-07-30 15:05] joshcanhelp commented on #83
@nileshtrivedi - If you're getting a callback error (it says that in the URL, not sure why it's not explaining that on the error page), then there is a difference between what you're passing to the login page and what you have saved as an allowed callback. If you walk through the [Quickstart](https://auth0.com/docs/quickstart/webapp/rails), you should be able to see where that differs.

As a compa

[2019-07-31 11:30] nileshtrivedi commented on #83
Thanks @joshcanhelp . This is what I have:
[code]

[code]

In application settings:

![Screenshot from 2019-07-31 16-59-04](https://user-images.githubusercontent.com/19304/62208469-9661fc80-b3b4-11e9-8476-0386b928db2c.png)

[2019-07-31 13:12] nileshtrivedi commented on #83
This is only happening for GitHub, btw. Twitter and Google login with Auth0 keys work fine.

[2019-07-31 21:05] joshcanhelp commented on #83
@nileshtrivedi - That was going to be my next question, whether you've tried other connections out. It sounds like your GitHub application is not configured correctly. Can you walk through the setup steps again and see if something is mis-configured there?

https://auth0.com/docs/connections/social/github

[2019-08-01 00:07] joshcanhelp commented on #82
@jkhulme - Happy to help and thanks for your response. For that mitigation, the POST would be to the `/auth/auth0` URL with a CSRF token. That would ensure that requests to that URL only come from your site and not from somewhere else (malicious site/email).

@forrestblount - Thanks for your response. We're working on updates to our documentation (README in this repo and the [Quickstart](https://a

[2019-08-01 04:39] nileshtrivedi commented on #83
@joshcanhelp As I mentioned in the issue title, I am using Auth0's dev keys (by leaving clientID and clientSecret blank). In my production environment, I use my own Github application which works completely fine. It's possible that Auth0's GitHub application is misconfigured. But only Auth0 team can verify that.

![Screenshot from 2019-08-01 10-06-00](https://user-images.githubusercontent.com/1930

[2019-08-05 18:55] joshcanhelp commented on #82
Update here ... I'm testing out the mitigation options and can confirm that the [`cookpad/omniauth-rails_csrf_protection`](https://github.com/cookpad/omniauth-rails_csrf_protection) gem works as expected and blocks external requests to the auth URL. Just following the instructions on the README, I added:

[code]

... and this everywhere there were login links:

[code]

Login works as expected and

[2019-08-05 21:19] joshcanhelp commented on #82
Finished setting up and testing a Rack application using the mitigation linked above and all worked as expected. Sample app is here:

https://github.com/joshcanhelp/omniauth-auth0-ruby

Working on adding these to samples and quickstarts now 👍

[2019-08-05 21:24] joshcanhelp commented on #83
Interesting ... I'm trying that out on my end (with dev keys) and everything goes through OK. If you click **Try** on the Connection in the dashboard, does it complete successfully? This is what I get (as well as a successful login with a test application):

![Screenshot 2019-08-05 14 24 20](https://user-images.githubusercontent.com/855223/62496092-b9155c00-b78c-11e9-910c-a1410794ccb7.png)

[2019-08-09 17:40] eshnil commented on #83
@joshcanhelp I noticed something interesting. In Auth0 dashboard -> Universal Login -> Experience, I can choose either "Classic" or "New". Here are the results (all providers using dev keys):

- New: Google works. Twitter fails (tracking id: 71c3b8cd674e88c5c13d). GitHub fails (tracking id: 8ab9ee242c997b0e98a4).
- Classic: Google Works. Twitter works. GitHub fails (tracking id: 13fcbfd90e6055c2f9

[2019-08-09 17:43] eshnil commented on #83
My tenant is in eu, so the domain suffix is `mydomain.eu.auth0.com` instead of `mydomain.auth0.com`. Could this be the cause of redirect URI mismatch failures?

[2019-08-09 18:21] nileshtrivedi commented on #83
No, I get the same errors when using the Try option in Dashboard. I noticed something interesting though. In Auth0 dashboard -> Universal Login -> Experience, I can choose either "Classic" or "New". Here are the results (all providers using dev keys):

    New: Google works. Twitter fails (tracking id: 71c3b8cd674e88c5c13d). GitHub fails (tracking id: 8ab9ee242c997b0e98a4).
    Classic: Google Wor

[2019-08-10 05:25] nileshtrivedi commented on #83
In that case, it isn't an omniauth-auth0 issue. @joshcanhelp Feel free to close this. I will figure out what the right place to report this is.

[2019-08-12 14:59] joshcanhelp commented on #83
@nileshtrivedi - If you have a paid plan, go to support.auth0.com and fill out a ticket. I'll ask internally to see if there's a known issue or potential configuration change you can make.

[2019-08-14 03:45] nileshtrivedi commented on #83
@joshcanhelp

[2019-08-14 03:45] #83 closed

[2019-08-19 13:58] rwehresmann opened #86 "undefined method `split' for nil:NilClass"
I have an app where I'm moving from lock based authentication to the Auth0 Universal Login approach. On this process I updated omniauth-auth0 from version 1.0 to 2.2 and started to have this problem when trying to logging in:

![Screenshot from 2019-08-19 10-52-05](https://user-images.githubusercontent.com/10273918/63270922-6ef1a780-c26f-11e9-8f0e-a2453cadab73.png)

Environment:

rails 5.1.1
ruby

[2019-08-21 14:14] joshcanhelp commented on #86
@rwehresmann - Sorry for the trouble here. It seems like you're not getting an ID token back for some reason. That `decode` method is called here when running the callback:

https://github.com/auth0/omniauth-auth0/blob/master/lib/omniauth/strategies/auth0.rb#L53

Can you share your configuration code, minus anything sensitive? Should look something like this:

https://auth0.com/docs/quickstart/web

[2019-08-25 20:56] rwehresmann commented on #86
@joshcanhelp sorry, my mistake: I forgot to inform

[code]

in my configuration file. Everything works fine now.

[2019-08-25 20:56] #86 closed

[2019-10-30 23:34] mbenitezm opened #87 "Redirect to signup"
Hi!

I'm on a situation where I have both a login and signup in my home page. I cannot find a way to redirect to auth0 with signup page as the initial screen, it will always show login instead.

I see javascript have some options in which you can set the initial screen, but I cannot find the equivalent to this using this gem.

Is there any way I can redirect my users to the signup screen when they

[2019-11-13 17:31] robwise opened #88 "Intermittent CSRF Detected"
### Description

Most of our users are reporting no issues, but occasionally we are seeing users hit CSRF detected errors. We even had a developer hit one locally.

### Reproduction

One nuance of our setup is that the entire app is behind a login wall, so we have a concern that automatically redirects to auth0 login if the user is not already logged in.

That code looks like this:

[code]

The er

[2019-11-21 23:22] neilmock commented on #87
I am having the same issue, any help is welcome!  👍

[2019-12-05 23:11] joshcanhelp commented on #87
Apologies for the long delay. You should be able to add `prompt=signup` to your login link and that will pass along to the login page at Auth0. If you're having trouble there, ping this thread and we'll take a look!

[2019-12-05 23:16] joshcanhelp commented on #88
@robwise - Apologies for the delay here. That notice typically has to do with a missing `state` parameter. This all happens in the core OmniAuth library but a value is generated, stored in session, and sent to Auth0 in a URL parameter. Then, when the user hits the callback URL, the value that's returned from Auth0 is compared with the stored value.

If looks like your `if authenticated_user.nil?`

[2019-12-05 23:16] #88 closed

[2019-12-06 21:33] mbenitezm commented on #87
Hi Josh, thanks for your help!

I'm doing as you said and it's not working for me.

`'/auth/auth0?prompt=signup'`

This is the link I'm using when redirecting to auth0 from my site. Am I not understanding something here?

Again, thanks a lot for your help!

[2019-12-06 21:57] joshcanhelp commented on #87
Happy to help! If you follow along in your browser, does that parameter get sent to Auth0 in the redirect?

[2019-12-07 04:22] mbenitezm commented on #87
Yes, it is even sent to Google. That makes google-auth login to fail
because it receives an invalid prompt.

Thanks for the fast reply!

El vie., 6 de diciembre de 2019 3:58 p. m., Josh Cunningham <
notifications@github.com> escribió:

[2019-12-19 16:36] neilmock commented on #87
No luck here either, regardless of any querystring param on /auth/auth0 I'm always directed to

https://auth.rocketphoto.com/u/login?state=<token>

[2019-12-20 22:08] joshcanhelp commented on #87
@mbenitezm - I'm a little confused ... are you trying to force signup on Auth0? How does Google come into play here?

@neilmock - I'm confused on yours as well. You're saying that `state` is being added to the login URL?

[2019-12-20 22:18] mbenitezm commented on #87
So I have a button that redirects to auth0 login, just as shown in the auth0 rails tutorial.

The url of that button is `'/auth/auth0?prompt=signup'`

When redirected to the auth0 subdomain I do not see the signup form even after adding that prompt.

Once that I'm on the login form, ignoring that I didn't see the signup form, when I click login with Google and get redirected to google consent form

[2019-12-20 22:25] joshcanhelp commented on #87
@mbenitezm - Thank you for the clarification here, happy to look into both of these. One more question for you ... are you using the Classic or the New universal login form?

[2019-12-21 14:45] mbenitezm commented on #87
I'm using new login.

Again, thanks for your help!

El vie., 20 de diciembre de 2019 4:25 p. m., Josh Cunningham <
notifications@github.com> escribió:

[2020-02-03 17:19] tjbarber commented on #82
Hey Josh,

I'm trying to implement Auth0 in a few apps and would still like to be able to redirect to a login page instead of a home page with a login button. Is there a workaround that would allow this?

Thanks for your help!

[2020-02-03 22:00] tjbarber commented on #87
Just nudging this to see if there's any solution yet.

I have a Rails app and would like to open the sign up form when clicking a specific link and the login form when clicking another one. Right now I can only see the log in form. Is there a way to have Auth0 open the with sign up form?

[2020-02-03 22:27] neilmock commented on #87
I gave up and used the Lock JS library directly, which has all the configuration params available.

[2020-02-04 17:34] mbenitezm commented on #87
Using Lock JS is not currently an option for me, so I'm still hoping this gets solved.

[2020-02-04 20:30] joshcanhelp commented on #87
Apologies for the delay here, folks. Hopefully this is something we can address easily in the library or with a config change but we have to dig in and really figure out where the problem lies.

We definitely recommend sticking with redirect-based login rather than the embedded form.

[2020-05-13 02:02] iseth commented on #70
I am having the same response as you @joshcanhelp @khrome-cape could is this normal?

[2020-07-09 19:32] blj opened #101 "IdP initiated session fails to verify"
### Description

When a session is initiated from an IdP, for e.g. configured like an Okta app, the callback phase with `code` type seem to be failing in `verify_nonce`.

### Reproduction

- Setup an external IdP provider
- Setup external IdP as a SAML connection
- redirect type as `code`
- Setup an Okta like browser plugin for initiating session
- Error comes up from `verify_nonce` in callback

#

[2020-07-14 20:32] nicosabena commented on #101
This is the right behavior, actually. What the SDK is doing is expected for any OIDC/OAuth2 client: making sure that the response and its ID token match an authentication request initiated by the app from the same browser.

While Auth0 tries to make a direct SAML-to-OIDC protocol translation, the reality is that OIDC does not have the concept of IdP-initiated flows, and thus any good OIDC SDK that

[2020-07-14 20:32] #101 closed

[2020-07-21 14:53] shafy commented on #87
Any updates here? When I add query params to `auth/auth0´, (such as `auth/auth0?prompt=signup´), it doesn't even persist them when redirecting to my Universal Login Page. I just see when query params which is `state=xyz`. Is this a bug or intended?

[2020-08-11 15:32] emad-elsaid opened #102 "Specifying callback_uri"
### Description

We're using omniauth-auth0 gem in a sinatra application, when the gem redirects to auth0 for authenticating a user it sends a parameter for callback_uri, by default it's `/auth/auth0/callback`.

Our service will be served under a path prefix, meaning all paths will have a fixed prefix "/service-name/" so we'll need to specify this callback_uri parameter.

With the current implemen

[2020-08-18 07:22] emad-elsaid commented on #102
I had to reimplement the login logic myself to overcome this limitation, as this have been here for 7 days without response I decided to move on and get rid of my dependency on omniauth and omniauth-auth0 gems from my project, the implementation was under 30 lines of code

[2020-08-18 14:20] #102 closed

[2020-09-07 07:49] smingins-nzpost opened #105 "Ruby in Rails – Redirect to Login"
Hi

I have been following the tutorial for using Auth0 with Rails here https://auth0.com/docs/quickstart/webapp/rails/01-login

The issue I have is that most Rails applications (and ours is one of them) , if I hit a URL that needs a login, it will redirect me to the login screen, and then upon successful authentication continue on it’s merry journey.

I haven’t found anything in the documentation

[2020-09-07 10:12] #105 closed

[2020-09-22 19:45] #87 closed

[2020-11-22 17:02] J-Vin commented on #49
Am I the bug?

[2020-12-11 19:39] finleye opened #114 "Unable to configure New Universal Login with prompt config"
### Describe the problem

Unable to pass `prompt` values to configure New Universal Login when using [omniauth-rails_csrf_protection
](https://github.com/cookpad/omniauth-rails_csrf_protection). The readme suggests passing these as query params when redirecting the user to Auth0, but when using the csrf protection gem, I'm using a POST request rather than a redirect.

### What was the expected beh

[2020-12-16 21:39] szTheory commented on #82
Is there a way to redirect directly to the Auth0 login page since you can't redirect with POST, and GET has been taken away? The current recommended workflow is a poor user experience for new user invitations. They have to click an email link to activate their account, then set their password on an Auth0 form, then get redirected to the application website where they have to click another button t

[2020-12-21 20:35] BobbyMcWho opened #115 "OmniAuth v2.0.0rc1"
Hello, maintainer of OmniAuth here.

I just wanted to make the maintainers of this gem aware of the discussion that I have opened regarding v2.0.0 of OmniAuth. I invite you to join in and voice any concerns you may have here: https://github.com/omniauth/omniauth/discussions/1017

[2021-01-04 19:00] davidpatrick commented on #115
Thanks @BobbyMcWho for raising visibility. I will take a look at this as soon as I have some availability.  Do you have a timeline/schedule for release?

[2021-01-04 21:56] BobbyMcWho commented on #115
Being a major release, hopefully folks are pessimistically requiring it, but I planned on at least 2 weeks from the initial "due diligence" PSA I put out to as many folks I could.

[2021-01-05 20:21] hiattp commented on #71
For posterity/anyone else, I ran into a similar problem. Followed the various [sample applications](https://github.com/auth0-samples/auth0-rubyonrails-sample) and [quickstarts](https://auth0.com/docs/quickstart/webapp/rails#configure-rails-to-use-auth0), which does lead you down the path of using `AUTH0_DOMAIN` both as the provider argument for omniauth (which can/should be your custom domain if y

[2021-01-15 18:29] davidpatrick commented on #114
Thanks @finleye for raising this.  Currently the library is pulling in the authorize parameters with `Rack::Utils.parse_query(request.query_string)`, which only grabs the query from the URL.  But it appears `request.params` it handled for us on POST and GET.  I will open a PR to fix this.

[2021-01-15 18:51] davidpatrick commented on #115
https://github.com/omniauth/omniauth/releases/tag/v2.0.0

[2021-01-15 18:51] #115 closed

[2021-01-19 14:49] finleye commented on #114
Thanks @davidpatrick!

[2021-01-19 16:07] scottsherwood commented on #82
@joshcanhelp I've been referred here from one of your auth0 support colleagues.

With a new version of the parent omniauth library being released that resolves this vulnerability. Is there any plans for auth0 to provide an update to make use of omniauth v2 here?

[2021-01-19 20:02] joshcanhelp commented on #82
cc @davidpatrick

[2021-01-19 21:16] davidpatrick commented on #82
Hey @scottsherwood to give some context, the new release that resolves the vulnerability is a similar solution that @joshcanhelp has laid out in this issue and on our sample/quickstart.  It is also the same end result as the mitigation plan from https://github.com/omniauth/omniauth/wiki/Resolving-CVE-2015-9284.

The [new version](https://github.com/omniauth/omniauth/releases/tag/v2.0.0) `defaults

[2021-01-20 20:14] #114 closed

[2021-03-19 14:05] Cruz-glitch commented on #49
https://<host>/users/auth/auth0/callback

[2021-03-19 14:06] Cruz-glitch commented on #49
class AuthenticationController < Devise::OmniauthCallbacksController

  def login
    redirect user_auth0_omniauth_authorize_path
  end

   ...
end

[2021-04-05 07:44] 2xUPe commented on #49
Today I tried to sign in to https://code.videolan.org by using github.com. I got a pin , but it failed with CSRF detected. What should I do? How should I understand your comment? Is it fixed or not? Or is it a bug on https://code.videolan.org?

[2021-04-15 21:06] davidpatrick commented on #82
Addressed in https://github.com/auth0/omniauth-auth0/pull/128

[2021-04-15 21:06] #82 closed

[2021-04-27 13:50] shepmaster opened #130 "Consider mentioning that Turbo should be disabled for login links"
### Describe the problem you'd like to have solved

In an application using [Turbo](https://turbo.hotwire.dev) (and I assume its predecessor [Turbolinks](https://github.com/turbolinks/turbolinks)), form submissions will be transformed into XHR / fetch requests that trigger a CORS request. This is not valid for the login action.

[Other users have experienced the same problem](https://community.aut

[2021-05-24 20:23] davidpatrick commented on #130
Thanks @shepmaster for raising, we can add an example to https://github.com/auth0/omniauth-auth0#examples to cover using with Turbo. Happy to review a PR if you would like to submit one.

[2021-06-25 22:11] davidpatrick commented on #130
Looked into this and Turbolinks was disabled by default on POST requests it https://github.com/turbolinks/turbolinks-classic/issues/352#issuecomment-37015963 https://www.rubydoc.info/gems/turbolinks/2.5.3

The successor of that library, Turbo, has decided not to take this approach. However seeing as Turbo, which is still in beta (according to their readme) is a much more intentional opt-in than th

[2021-06-25 22:11] #130 closed

[2021-11-12 12:31] shadydealer opened #137 "How do I logout a user from my client app once his auth0 session has expired?"
### Describe the problem you'd like to have solved

I've started using Auth0 for SSO with a Rails client app and I'm having issues with the fact that once any of my users' Auth0 sessions have expired there's no way for me to know that so I can also destroy their session in the client app.

### Describe the ideal solution

Once the user's Auth0 session expires, a POST request is sent from Auth0 to

[2021-12-01 22:47] edwinthinks commented on #101
Hey @nicosabena, I'am wondering if this same issue that I'am having is related to this issue. It's a bit strange so I'am wondering if this is the same.

We have a client who gets redirected to their IdP login page from our Auth0 hosted login page. After they log in, our application either says "Idp not enabled" when we have IdP disabled or "csrf detected" when we toggle IdP on.

Any information is

[2022-02-17 15:59] stevehobbsdev commented on #137
Thanks for your patience here. We are currently looking at options that would support the scenario you mention but we're not quite there yet, and unfortunately I don't have a timeline to share. However, just know that this is something we're looking into.

Keep an eye out for announcements in the [Auth0 Changelog](https://auth0.com/changelog) later in the year. If I hear of anything further I will

[2022-02-17 15:59] #137 closed

[2022-05-15 23:12] nolyoi opened #141 "Scopes not being added to token?"
### Describe the problem
When adding scopes they aren't being included in the JWT. Oddly, some appear to work and others don't.  For example, the scopes  'openid email profile offline_access' all pass fine, but if I add a scope like "read:stats" or "read:users" it doesn't appear in the JWT. And these scopes that arent being added to the JWT are listed under permissions in both Auth0 Management API

[2022-06-07 13:22] stevehobbsdev commented on #141
Closing for now but happy to continue the discussion if you need further support.

[2022-06-07 13:22] #141 closed

[2022-11-10 16:47] aalejandromr commented on #137
@stevehobbsdev @shadydealer

Curious to know if you guys have found a workaround for this specific use case.

Thanks

[2022-11-11 12:40] shadydealer commented on #137
@aalejandromr Sorry, I am no longer working on the project on which I needed this feature, so I cannot say.

[2022-11-22 04:01] shaunakv1 opened #155 "Auth0 Login Button does nothing in Rails 7 unless Turbo is disabled"
### Describe the problem
After following the setup instructions for Rails and adding the button. The button does nothing.  Note that I have a fully functional rails 5 application that works just fine with exact same code.  May be the documentation needs to reflect this?

`<%= button_to 'Login', '/auth/auth0', method: :post %>`

However this works just fine:

`<%= button_to "Login", "/auth/auth0",